<h1>Users form</h1>

<%= form_for @user do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name, required: true %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.submit %>
<% end %>
